#terminal
	| Tom Gallacher's Interactive Console 1.0<br />
	| I'm a Software Engineer from Bournemouth, Uk. Proficient in PHP, Java, Javascript, SQL and Objective-C<br />
	| For a list of projects which I have worked on enter the command "projects" below<br />
	| * List of commands: Enter the command "help"<br /><br />
	| #{uname}<br />
	| Logged in: #{time} from #{ipAddress}<br /><br />