#terminal
	| Hello, I am Tom Gallacher. I love programming, website development and food.<br />
	| I'm a Software Engineer from Bournemouth, Uk. Proficient in PHP, Java, Javascript, SQL and Objective-C<br />
	| I have recently fallen in love with <a target="_blank" href="http://nodejs.org">nodejs</a> and using it to power this website.<br />
	| For a list of projects which I have worked on enter the command "projects" below<br />
	| * List of commands: Enter the command "help"<br /><br />
	| #{uname}<br />
	| Logged in: #{time} from #{ipAddress}<br /><br />