article#terminal
  | Tom Gallacher; Developer, NodeJS privateer, Siri abuser and way too Linux-y to own a Mac, let alone several. Often seen happily writing code without any knowledge of his surroundings.
  | Loves anything geeky, technical, weird and the strange. Enjoys dabbling his musical feelers in Post-Hardcore, Experimental, Punk-Rock, DnB, Electro-house... just an epic varying music taste.<br /><br />
  | Back to first person mode (It was weirding me out!) If you want to talk as I am generally a nice guy and I am on github as <a href="http://github.com/tomgco">tomgco</a> and twitter as <a href="http://twitter.com/tomgco">@tomgco</a>, so give me a shout. you will get extra points if you say you have been on my site =]
  | <br /><br />* List of commands: Enter the command "help"<br /><br />
  | #{uname}<br />
  | Logged in: #{time} from #{ipAddress}<br /><br />
