!!! 5
html(lang="en")
	head
		title= title
		meta(name='author', content='Tom Gallacher')
		meta(name='description', content=metaDescription)
		meta(charset='utf-8')
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='stylesheets/base.css')
		link(rel='stylesheet', href='stylesheets/content.css')
		script(type='text/javascript', src='/js/head.load.min.js')
	body
		b.greenbar
		a(style='position: absolute; top: 0; right: 0; border: 0;',href='http://github.com/tomgallacher')
			img( src='/images/forkme.png', width='149', height='149', alt='Fork me on GitHub')
		#container
			input.command(type='text')
			header
				h1 Tom Gallacher
				ul
					li node.js
					li JavaScript
					li PHP
					li Objective-C
					li mongodb
					li SQL
					li HTML5
					li CSS3
			section#sidebar
				nav
					ul
						li &gt;&nbsp;
							a(class=/^.\/*$/.test(currentUrl) ? 'active' : '', href='/') Terminal
						li &gt;&nbsp;
							a(href='http://blog.tomg.co') Blog
						li &gt;&nbsp;
							a(class=/\/portfolio*/.test(currentUrl) ? 'active' : '', href='/portfolio') Portfolio
						li &gt;&nbsp;
							a(class=/\/projects*/.test(currentUrl) ? 'active' : '', href='/projects') Projects
						li &gt;&nbsp;
							a(class=/\/contact*/.test(currentUrl) ? 'active' : '', href='mailto:me@tomg.co') Contact
						li &gt;&nbsp;
							a(class=/\/gzippo*/.test(currentUrl) ? 'active' : '', href='/gzippo') gzippo
						li &gt;&nbsp;
							a(class=/\/gyrojs*/.test(currentUrl) ? 'active' : '', href='/gyrojs') gyro.js
				#social
					h2 Follow me&nbsp;
						a(href='http://twitter.com/tomgco') @tomgco
				#twitter
					!=partial('partials/tweets', globals)
			section#content
				!= body
			.push
		footer
			ul
				li.copyright
					&copy; 2009-2012 Tom Gallacher
				li
					a(href='http://twitter.com/tomgco', target='_blank', title='Contact me on twitter') @tomgco
				li
					a(href='http://www.last.fm/user/gxblast', target='_blank', title='My Last.fm - Checkout my music taste!') last.fm
				li
					a(href='http://github.com/tomgallacher', target='_blank', title='My Github Account') Github Profile
				li
					a(href='http://forrst.com/people/tomgallacher', target='_blank', title='My Forrst Profile') Forrst
				li
					a(href='http://uk.linkedin.com/in/tomgallacher', target='_blank', title='My Professional Profile') Linkedin
		script(type='text/javascript')
			head.js('/js/jquery-1.7.min.js', '/js/turtles.min.js');
