!!!
html
	head
		title= title
		meta(name='author', content='Tom Gallacher - @tomgallacher89')
		meta(name='description', content='Tom Gallacher is a Software Engineer from Bournemouth, Uk. Proficient in PHP, Java, Javascript, SQL and Objective-C')
		meta(name='keywords', content='Tom Gallacher, tomgallacher89, nodejs, php, jobs, software engineer, php website developer, iOS developer')
		meta(charset='utf-8')
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		#container
			#wrapper
				#main-content
					!= body
			#footer
				ul
					li.copyright Copyright &copy; 2010-2011 Tom Gallacher
					li
						a#twitter(href='http://twitter.com/tomgallacher89', target='_blank', title='Tom Gallacher's Twitter Handle') @tomgallacher89
		script(src='/js/jquery-1.5.2.min.js')
		script(src='/js/terminal.min.js')