!!! 5
html(lang="en")
	head
		title= title
		meta(name='author', content='Tom Gallacher - @tomgallacher89')
		meta(name='description', content=metaDescription)
		meta(charset='utf-8')
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/animations.css')
	body
		input.command(type='text')
		#container
			#wrapper
				#info
					h1 Info
					ul
						li &gt;&nbsp;
							a(class=/^.\/*$/.test(currentUrl) ? 'active' : '', href='/') Terminal
						li &gt;&nbsp;
							a(class=/\/portfolio*/.test(currentUrl) ? 'active' : '', href='/portfolio') Portfolio
						li &gt;&nbsp;
							a(class=/\/projects*/.test(currentUrl) ? 'active' : '', href='/projects') Projects
						li &gt;&nbsp;
							a(class=/\/gzippo*/.test(currentUrl) ? 'active' : '', href='/gzippo') gzippo
						//li &gt;&nbsp;
						//	a(class=/\/blog*/.test(currentUrl) ? 'active' : '', href='/blog') Blog
					h1 Twitter
					#twitter
						!=partial('partials/tweets', globals)
				#main-content
					!= body
				#footer
					ul
						li.copyright &copy; 2009-2011 Tom Gallacher
						li
							a#twitter(href='http://twitter.com/tomgallacher89', target='_blank', title='Contact me on twitter') @tomgallacher89
						li
							a#lastfm(href='http://www.last.fm/user/gxblast', target='_blank', title='My Last.fm - Checkout my music taste!') last.fm
						li
							a#github(href='http://github.com/tomgallacher', target='_blank', title='My Github Account') Github Profile
						li
							a#forrst(href='http://forrst.com/people/tomgallacher', target='_blank', title='My Forrst Profile') Forrst
						li
							a#linkedin(href='http://uk.linkedin.com/in/tomgallacher', target='_blank', title='My Professional Profile') Linkedin
		script(src='/js/jquery-1.5.2.min.js')
		script(src='/js/turtles.min.js')