#work
	.item-combined
		.item
			.info
				h2 Jarred Christmas
				h3.url
					a(href='http://www.jarredchristmas.com') http://www.jarredchristmas.com
				img(src='/images/sites/jarred-small.jpg', width='300', height='201')
		.item
			.info
				h2 Shortlist & Stylist
				h3.url
					a(href='http://www.shortlist.com') http://www.shortlist.com
				img(src='/images/sites/shortlist-small.jpg', width='300', height='201')
	.item-combined
		.item
			.info
				h2 Yates's Pub's
				h3.url
					a(href='http://www.weareyates.co.uk') http://www.weareyates.co.uk
				img(src='/images/sites/yates-small.jpg', width='300', height='201')
		.item
			.info
				h2 Gawkwall iPhone app
				h3.url
					a(href='http://www.gawkwall.com') http://www.gawkwall.com
				img(src='/images/sites/gawkwall-small.jpg', width='300', height='201')
