!!! 5
html(lang="en")
	head
		meta(name='author', content='Tom Gallacher')
		meta(charset='utf-8')
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='http://www.tomg.co/stylesheets/base.css')
		link(rel='stylesheet', href='http://www.tomg.co/stylesheets/content.css')
		style
			body {
				overflow-x: hidden;
				overflow-y: hidden;
			}
	body
		!= body