!!! 5
html(lang="en")
	head
		meta(name='author', content='Tom Gallacher')
		meta(charset='utf-8')
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='stylesheets/base.css')
		link(rel='stylesheet', href='stylesheets/content.css')
		script(type='text/javascript', src='/js/head.load.min.js')
	body
		!= body