#work
	.item-combined
		.item
			.info
				h2 Jarred Christmas
				h3.url
					a(href='http://www.jarredchristmas.com') http://www.jarredchristmas.com
				.image-flag
					a(href='http://www.php.net', target='_blank')
						img(src='/images/php-banner-small.png', width='74', height='74').flag
					img(src='/images/sites/jarred-small.jpg', width='300', height='201')
		.item
			.info
				h2 Shortlist & Stylist
				h3.url
					a(href='http://www.shortlist.com') http://www.shortlist.com
				.image-flag
					a(href='http://www.php.net', target='_blank')
						img(src='/images/php-banner-small.png', width='74', height='74').flag
					img(src='/images/sites/shortlist-small.jpg', width='300', height='201')
	.item-combined
		.item
			.info
				h2 Yates's Pub's
				h3.url
					a(href='http://www.weareyates.co.uk') http://www.weareyates.co.uk
				.image-flag
					a(href='http://www.php.net', target='_blank')
						img(src='/images/php-banner-small.png', width='74', height='74').flag
					img(src='/images/sites/yates-small.jpg', width='300', height='201')
		.item
			.info
				h2 Gawkwall iPhone app
				h3.url
					a(href='http://www.gawkwall.com') http://www.gawkwall.com
				.image-flag
					a(href='http://developer.apple.com', target='_blank')
						img(src='/images/ios-banner-small.png', width='74', height='74').flag
					img(src='/images/sites/gawkwall-small.jpg', width='300', height='201')
