#work
	.item-combined
		.item
			.info
				h2 Jarred Christmas
				h3.url
					a(href='http://www.jarredchristmas.com') http://www.jarredchristmas.com
				img(src='/images/sites/jarred.jpg')
		.item
			.info
				h2 Jarred Christmas
				h3.url
					a(href='http://www.jarredchristmas.com') http://www.jarredchristmas.com
				img(src='/images/sites/jarred.jpg')
	.item-combined
		.item
			.info
				h2 Jarred Christmas
				h3.url
					a(href='http://www.jarredchristmas.com') http://www.jarredchristmas.com
				img(src='/images/sites/jarred.jpg')
		.item
			.info
				h2 Jarred Christmas
				h3.url
					a(href='http://www.jarredchristmas.com') http://www.jarredchristmas.com
				img(src='/images/sites/jarred.jpg')
