#terminal {
}

#terminal.bottom-left {
	-webkit-transition: all 2s ease-in-out;
	-webkit-transform: perspective(1500px) rotateY(6deg) rotateX(4deg);
}

#terminal.bottom-right {
	-webkit-transition: all 2s ease-in-out;
	-webkit-transform: perspective(1500px) rotateY(-9deg) rotateX(-7deg);
}

#terminal.top-left {
	-webkit-transition: all 2s ease-in-out;
	-webkit-transform: perspective(1500px) rotateY(6deg) rotateX(-4deg);
}


#terminal.top-right {
	-webkit-transition: all 2s ease-in-out;
	-webkit-transform: perspective(1500px) rotateY(-9deg) rotateX(4deg);
}