#main-content.bottom-left
	-webkit-transition all 2s ease-in-out
	-webkit-transform perspective(1500px) rotateY(6deg) rotateX(4deg)

#main-content.bottom-right
	-webkit-transition all 2s ease-in-out
	-webkit-transform perspective(1500px) rotateY(-9deg) rotateX(4deg)

#main-content.top-left
	-webkit-transition all 2s ease-in-out
	-webkit-transform perspective(1500px) rotateY(6deg) rotateX(-4deg)

#main-content.top-right
	-webkit-transition: all 2s ease-in-out
	-webkit-transform perspective(1500px) rotateY(-9deg) rotateX(-7deg)

#main-content.normal
	-webkit-transition all 2s ease-in-out
	-webkit-transform perspective(1500px) rotateY(0deg) rotateX(0deg)