/*
*	Well hello. This is nasty. look away!
*	@author Tom Gallacher <tomgallacher@me.com>
*/

#content
	padding-bottom 80px

article
	position relative
	padding-top 5px
	padding-right 7px
	padding-left 7px
	background-color #323232
	color #1EFD00
	font-family monospace
	font-size 12px
	line-height 14px
	overflow auto
	-moz-border-radius 5px
	border-radius 5px
	border 4px solid #EEE
	width 763px
	word-wrap break-word
	padding-bottom 2px
	
article.item-combined
	margin-left 18px
	margin-top 10px
	margin-bottom 10px
	height 260px
	
article h3
	font-size 1.5em
	
article h4
	font-size: 1.17em;
	
article p
	color #CCC
	font-size 11px
	font-family verdana
	
article a
	text-decoration none
	color #FFF
	text-shadow #555 1px 0px 0px


/**
*	For Terminal on main page
*/

#terminal
	max-height 476px
	height 476px
	margin-bottom 1px
	padding-bottom 2px
	
#terminal a
	color #1EED00
	text-decoration underline

//flashing green cursor
span.cursor
	background-color #1EFD00
	margin-left 0px

span.hidden
	display none

/*
* For grid view
*/

.info h4.url
	margin-top 3px
	margin-bottom 3px

.info h4.url a
	color #767676
	text-decoration none
	font-family verdana
	font-size 9px

.image-flag
	width 300px
	height 201px

.image-flag img.flag
	position absolute

.item
	height 223px
	width 352px
	padding-top 12px
	float left
	padding-left 13px

.item-combined
	margin-left 18px
	margin-top 10px
	margin-bottom 10px
	height 260px