article.copy
	h3 GZIPPO -&nbsp;
		a.url(href='https://github.com/tomgallacher/gzippo', target='_blank') Source Code
	br
	p gzippo, pronounced g-zippo and created by Tom Gallacher is a gzip&nbsp;
		a(href='http://nodejs.org', target='_blank') NodeJS
		| &nbsp;middleware for 
		a(href='http://senchalabs.github.com/connect/', target='_blank') Connect
		| &nbsp;/
		a(href='http://expressjs.com/') Express
		| &nbsp;using node-compress for much better performace than any other connect gzip or express gzip middleware.
	p The reason behind the performace increase is, unlike the deprecated connect gzip implemention and modules based on
		| this (such as connect-gzip), gzippo does not use child_process.exec to spawn a process, instead using native C++
		| code. gzippo can be found in the node package manager npm.
	br
	h4 Sites gzippo is current used on (that I know about)
	p
		br
		a(href='http://www.tomg.co') www.tomg.co (this site =])
		br
		a(href='https://www.sunperks.co.uk') www.sunperks.co.uk
		br
		a(href='http://thecitycalls.co.uk') thecitycalls.co.uk
	br
	p If you are using gzippo let me know or create a pull request and I will link you here =]
	br
	h4 Installation
	pre
		code
			$ npm install gzippo
	br
	h4 Usage
	br
	p In your express/connect server setup, use as follows:
	pre
		code
			var gzippo = require('gzippo');
			//Replace the default connect or express static provider with gzippo's
			//app.use(express.static(__dirname + '/public'));
			app.use(gzippo.staticGzip(__dirname + '/public'));
	br
	h4 Options
	br
	p contentTypeMatch - A regular expression tested against the Content-Type header to determine whether the response should be gzipped or not. The default value is /text|javascript|json/.
	br
	p maxAge - cache-control max-age directive, defaulting to 1 day
	br
	p clientMaxAge - browser cache-control max-age directive, defaulting to 1 week
	br
	p prefix - A url prefix. If you want all your static content in a root path such as /resource/. Any url paths not matching will be ignored
	br
	<a class="FlattrButton" style="display:none;" rev="flattr;button:compact;" href="https://github.com/tomgallacher/gzippo"></a>
	<a href="http://tiptheweb.org/tip/" class="ttw-button ttw-button-small">Tip</a>
	<iframe src="http://www.facebook.com/plugins/like.php?app_id=234982846530171&amp;href=http%3A%2F%2Fwww.tomg.co%2Fgzippo&amp;send=false&amp;layout=button_count&amp;width=50&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=verdana&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:50px; height:21px;" allowTransparency="true"></iframe>
	<a href="http://twitter.com/share" class="twitter-share-button" data-text="Checkout gzippo a #nodejs connect gzip / expressjs gzip middleware" data-count="horizontal" data-via="tomgallacher89">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
	noscript
		a(href='http://flattr.com/thing/282348/gzippo-node-js-gzip-module', target='_blank')
		img(src='http://api.flattr.com/button/flattr-badge-large.png', alt='Flattr this', title='Flattr this', border='0')
	script(type='text/javascript', src='/js/flattr.js')
