article#projects
	.item-combined
		.item
			.info
				h3 Dj Viz
				h4.url
					a(href='http://tomg.co') tomg.co
				.image-flag
					a(href='/images/dj-viz.png', target='_blank')
						img(src='/images/cpp-banner-small.png', width='74', height='74').flag
						img(src='/images/dj-viz-small.png', width='300', height='201')
		.item
			.info
				h3 Helicopter Tracking
				h4.url
					a(href='http://tomg.co') tomg.co
				.image-flag
					a(href='http://cl.ly/1W2V1w2A3l0F3Y3m1n1d', target='_blank')
						img(src='/images/ios-banner-small.png', width='74', height='74').flag
						img(src='/images/track-small.png', width='300', height='201')
	.item-combined
		.item
			.info
				h3 gzippo - gzip for expressjs
				h4.url
					a(href='http://www.tomg.co/gzippo') tomg.co/gzippo
				.image-flag
					a(href='http://www.tomg.co/gzippo', target='_blank')
						img(src='/images/nodejs-banner-small.png', width='74', height='74').flag
						img(src='/images/gzippo-small.png', width='300', height='201')
		.item
			.info
				h3 Syma S107 Arduino Hack
				h4.url
					a(href='http://blog.tomg.co/post/13118145432/syma-107-arduino-helicopter-part-two') blog.tomg.co
				.image-flag
					a(href='http://blog.tomg.co/post/13118145432/syma-107-arduino-helicopter-part-two', target='_blank')
						img(src='/images/ios-banner-small.png', width='74', height='74').flag
						img(src='/images/s107-small.png', width='300', height='201')
	.item-combined
		.item
			.info
				h3 Mac Calc
				h4.url
					a(href='https://github.com/tomgco/MacCalc') github.com
				.image-flag
					a(href='https://github.com/tomgco/MacCalc', target='_blank')
						img(src='/images/ios-banner-small.png', width='74', height='74').flag
						img(src='/images/calc-small.png', width='300', height='201')
		.item
			.info
				h3 FollowMe
				h4.url
					a tomg.co
				.image-flag
					img(src='/images/nodejs-banner-small.png', width='74', height='74').flag
					img(src='/images/followme-small.jpg', width='300', height='201')
	.item-combined
		.item
			.info
				h3 The City Calls
				h4.url
					a(href='http://thecitycalls.co.uk', target='_blank') thecitycalls.co.uk
				.image-flag
					a(href='http://thecitycalls.co.uk', target='_blank')
						img(src='/images/nodejs-banner-small.png', width='74', height='74').flag
						img(src='/images/thecitycalls.png', width='300', height='201')
		.item
			.info
				h3 This Site =]
				h4.url
					a(href='http://tomg.co') tomg.co
				.image-flag
					a(href='http://tomg.co', target='_blank')
						img(src='/images/nodejs-banner-small.png', width='74', height='74').flag
						img(src='/images/tomg.co.png', width='300', height='201')
