article#projects
	.item-combined
		.item
			.info
				h3 gzippo - gzip for expressjs
				h4.url
					a(href='http://www.tomg.co/gzippo') www.tomg.co/gzippo
				.image-flag
					a(href='http://www.nodejs.org', target='_blank')
						img(src='/images/nodejs-banner-small.png', width='74', height='74').flag
					img(src='/images/sites/gzippo-small.jpg', width='300', height='201')
		.item
			.info
				h3 This Site =]
				h4.url
					a(href='http://www.tomg.co') www.tomg.co
				.image-flag
					a(href='http://www.nodejs.org', target='_blank')
						img(src='/images/nodejs-banner-small.png', width='74', height='74').flag
					img(src='/images/tomg.co.png', width='300', height='201')
	.item-combined
		.item
			.info
				h3 Mac Calc
				h4.url
					a(href='https://github.com/tomgallacher/MacCalc') www.github.com
				.image-flag
					a(href='http://developer.apple.com', target='_blank')
						img(src='/images/ios-banner-small.png', width='74', height='74').flag
					img(src='/images/mac-calc.jpg', width='300', height='201')
		.item
			.info
				h3 FollowMe
				h4.url
					a www.tomg.co
				.image-flag
					a(href='http://www.nodejs.org', target='_blank')
						img(src='/images/nodejs-banner-small.png', width='74', height='74').flag
					img(src='/images/followme-small.jpg', width='300', height='201')
	.item-combined
		.item
			.info
				h3 The City Calls
				h4.url
					a(href='http://thecitycalls.co.uk', target='_blank') thecitycalls.co.uk
				.image-flag
					a(href='http://www.nodejs.org', target='_blank')
						img(src='/images/nodejs-banner-small.png', width='74', height='74').flag
					img(src='/images/thecitycalls.png', width='300', height='201')
		.item
			.info
				h3 My Cloud9ide Settings
				h4.url
					a(href='https://github.com/tomgallacher/Cloud9Ide-Settings', target='_blank') www.github.com
				.image-flag
					a(href='http://www.nodejs.org', target='_blank')
						img(src='/images/nodejs-banner-small.png', width='74', height='74').flag
					img(src='/images/cloud9ide.jpg', width='300', height='201')
