#work
	.item-combined
		.item
			.info
				h2 gzippo - gzip for expressjs
				h3.url
					a(href='http://www.tomg.co/gzippo') http://www.tomg.co/gzippo
				.image-flag
					a(href='http://www.nodejs.org', target='_blank')
						img(src='/images/nodejs-banner-small.png', width='74', height='74').flag
					img(src='/images/sites/gzippo-small.jpg', width='300', height='201')
		.item
			.info
				h2 This Site =]
				h3.url
					a(href='http://www.tomg.co') http://www.tomg.co
				.image-flag
					a(href='http://www.nodejs.org', target='_blank')
						img(src='/images/nodejs-banner-small.png', width='74', height='74').flag
					img(src='/images/tomgallacher.info.jpg', width='300', height='201')
	.item-combined
		.item
			.info
				h2 The City Calls
				h3.url
					a(href='http://www.thecitycalls.co.uk') http://www.thecitycalls.co.uk
				.image-flag
					a(href='http://www.nodejs.org', target='_blank')
						img(src='/images/nodejs-banner-small.png', width='74', height='74').flag
					img(src='/images/no-image.jpg', width='300', height='201')
		.item
			.info
				h2 My Cloud9ide Settings
				h3.url
					a(href='https://github.com/tomgallacher/Cloud9Ide-Settings') http://www.github.com
				.image-flag
					a(href='http://www.nodejs.org', target='_blank')
						img(src='/images/nodejs-banner-small.png', width='74', height='74').flag
					img(src='/images/cloud9ide.jpg', width='300', height='201')
	.item-combined
		.item
			.info
				h2 Mac Calc
				h3.url
					a(href='https://github.com/tomgallacher/MacCalc') http://www.github.com
				.image-flag
					a(href='http://developer.apple.com/', target='_blank')
						img(src='/images/ios-banner-small.png', width='74', height='74').flag
					img(src='/images/mac-calc.jpg', width='300', height='201')
		.item
			.info
				h2 FollowMe
				h3.url
					a http://www.tomg.co
				.image-flag
					a(href='http://www.nodejs.org', target='_blank')
						img(src='/images/nodejs-banner-small.png', width='74', height='74').flag
					img(src='/images/followme-small.jpg', width='300', height='201')
